# Template for the .env file

NODE_ENV=development
PORT=4000
WEB_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/persistech_360

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_WORKSPACE_DOMAIN=
